<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright IBM

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<plugin>
 <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ibm.biginsights.textanalytics.goldstandard.handler.MarkCompleteHandler"
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.markComplete">
      </handler>
      <handler
            class="com.ibm.biginsights.textanalytics.goldstandard.handler.MarkIncompleteHandler"
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.markIncomplete">
      </handler>
      <handler
            class="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.annotateAs">
      </handler>
      <handler
            class="com.ibm.biginsights.textanalytics.goldstandard.handler.DeleteAnnotationHandler"
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.deleteAnnotation">
      </handler>
      <handler
            class="com.ibm.biginsights.textanalytics.goldstandard.handler.ExplorerImportDocumentCollectionHandler"
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerImportDocumentCollection">
      </handler>
      <handler
            class="com.ibm.biginsights.textanalytics.goldstandard.handler.ExplorerImportResultHandler"
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerImportResult">
      </handler>
      <handler
            class="com.ibm.biginsights.textanalytics.goldstandard.handler.ExplorerMarkCompleteHandler"
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerMarkComplete">
      </handler>
      <handler
            class="com.ibm.biginsights.textanalytics.goldstandard.handler.ExplorerMarkIncompleteActionHandler"
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerMarkIncomplete">
      </handler>
      <handler
            class="com.ibm.biginsights.textanalytics.goldstandard.handler.ExplorerGSConfigureHandler"
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerConfigure">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="com.ibm.biginsights.textanalytics.goldstandard.separator1">
         </separator>
         <menu
               label="Annotate as">
            <dynamic
                  class="com.ibm.biginsights.textanalytics.goldstandard.menu.DynamicAnnotateAsContributor"
                  id="com.ibm.biginsights.textanalytics.goldstandard.dynamicAnnotateAs">
            </dynamic>
            <visibleWhen>
               <with
                     variable="activeContexts">
                  <iterate
                        operator="or">
                     <equals
                           value="com.ibm.biginsights.textanalytics.GoldstandardEditorScope">
                     </equals>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
         <command
               commandId="com.ibm.biginsights.textanalytics.goldstandard.command.deleteAnnotation"
               label="Delete annotation"
               style="push">
            <visibleWhen>
               <with
                     variable="activeContexts">
                  <iterate
                        operator="or">
                     <equals
                           value="com.ibm.biginsights.textanalytics.GoldstandardEditorScope">
                     </equals>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ibm.biginsights.textanalytics.goldstandard.command.markComplete"
               label="Mark complete"
               style="push">
            <visibleWhen>
               <with
                     variable="activeContexts">
                  <iterate
                        operator="or">
                     <equals
                           value="com.ibm.biginsights.textanalytics.GoldstandardEditorScope">
                     </equals>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ibm.biginsights.textanalytics.goldstandard.command.markIncomplete"
               label="Mark incomplete"
               style="push">
            <visibleWhen>
               <with
                     variable="activeContexts">
                  <iterate
                        operator="or">
                     <equals
                           value="com.ibm.biginsights.textanalytics.GoldstandardEditorScope">
                     </equals>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=biginsights.separator">
         <menu
               label="Labeled Document Collection">
            <command
                  commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerImportDocumentCollection"
                  label="Import from document collection"
                  style="push">
            </command>
            <command
                  commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerImportResult"
                  label="Import from extraction result"
                  style="push">
            </command>
           <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IFolder">
                           <test
                                 forcePluginActivation="true"
                                 property="com.ibm.biginsights.textanalytics.goldstandard.isGoldStandardParentDirectory"
                                 value="true">
                           </test>
                        </adapt>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.ibm.biginsights.textanalytics.nature">
                           </test>
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
            
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               label="Labeled Document Collection">
            <command
                  commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerConfigure"
                  label="Configure"
                  style="push">
            </command>
            <command
                  commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerMarkComplete"
                  label="Mark Complete"
                  style="push">
            </command>
            <command
                  commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerMarkIncomplete"
                  label="Mark Incomplete"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <adapt
                              type="org.eclipse.core.resources.IFolder">
                        </adapt>
                        <test
                              forcePluginActivation="true"
                              property="com.ibm.biginsights.textanalytics.goldstandard.isGoldStandardDirectory"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               label="Labeled Document Collection">
            <command
                  commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerMarkComplete"
                  label="Mark Complete"
                  style="push">
            </command>
            <command
                  commandId="com.ibm.biginsights.textanalytics.goldstandard.command.explorerMarkIncomplete"
                  label="Mark Incomplete"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="lc">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.ibm.biginsights.textanalytics.goldstandard.category"
            name="goldStandard">
      </category>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.configure"
            name="configure">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.importCorpus"
            name="importCorpus">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.bootstrapAQLResult"
            name="bootstrapFromAQLResult">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.markComplete"
            name="markComplete">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.markIncomplete"
            name="markIncomplete">
      </command>
      <category
            id="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            name="annotateAs">
      </category>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.annotateAs"
            name="annotateAs">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.deleteAnnotation"
            name="deleteAnnotation">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annType0"
            name="annType0">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annType1"
            name="annType1">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annType2"
            name="annType2">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annType3"
            name="annType3">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annType4"
            name="annType4">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annType5"
            name="annType5">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annType6"
            name="annType6">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annType7"
            name="annType7">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annType8"
            name="annType8">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annType9"
            name="annType9">
      </command>
      <command
            categoryId="com.ibm.biginsights.textanalytics.goldstandard.annotateAs"
            defaultHandler="com.ibm.biginsights.textanalytics.goldstandard.handler.AnnotateAsHandler"
            id="com.ibm.biginsights.textanalytics.goldstandard.annTypeDefault"
            name="annTypeDefault">
      </command>
      <command
            category="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.explorerImportDocumentCollection"
            name="explorerImportDocumentCollection">
      </command>
      <command
            category="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.explorerImportResult"
            name="explorerImportResult">
      </command>
      <command
            category="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.explorerConfigure"
            name="explorerConfigure">
      </command>
      <command
            category="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.explorerMarkComplete"
            name="explorerMarkComplete">
      </command>
      <command
            category="com.ibm.biginsights.textanalytics.goldstandard.category"
            id="com.ibm.biginsights.textanalytics.goldstandard.command.explorerMarkIncomplete"
            name="explorerMarkIncomplete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.markComplete"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.markIncomplete"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.command.deleteAnnotation"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+DEL">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annType0"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annType1"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annType2"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annType3"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+3">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annType4"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annType5"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+5">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annType6"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annType7"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annType8"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annType9"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
      <key
            commandId="com.ibm.biginsights.textanalytics.goldstandard.annTypeDefault"
            contextId="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ENTER">
      </key>
   </extension>
   <extension
         id="com.ibm.biginsights.textanalytics.goldstandard.editor"
         name="Labeled Document Collection Editor"
         point="org.eclipse.ui.editors">
      <editor
            class="com.ibm.biginsights.textanalytics.goldstandard.ui.GSFileViewer"
            default="true"
            extensions="lc"
            icon="icons/gs.gif"
            id="com.ibm.biginsights.textanalytics.goldstandard.editor"
            name="Labeled Document Collection viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.ibm.biginsights.textanalytics.GoldstandardEditorScope"
            name="Labeled Document Collection Editor Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="com.ibm.biginsights.textanalytics.goldstandard.decorator.FileIconDecorator"
            id="com.ibm.biginsights.textanalytics.goldstandard.filedecorator"
            label="Labeled Document Collection file decorator"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="extension"
                     value="lc">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.ibm.biginsights.textanalytics.goldstandard.tester.GSDirTester"
            id="com.ibm.biginsights.textanalytics.goldstandard.GSDirTester"
            namespace="com.ibm.biginsights.textanalytics.goldstandard"
            properties="isGoldStandardDirectory,isGoldStandardParentDirectory"
            type="org.eclipse.core.resources.IFolder">
      </propertyTester>
   </extension>
</plugin>
